div.container
  .row
    .col-md-8
      div.blog-header
        h1.blog-title  Blog hood 
      p
        | Are you sure you want to hide this comment? 
        button(ng-click='toggleComment()') Yes
        |  - 
        button(ng-click='home()') No thanks
