doctype
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title my blog
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/ng-pagination.min.css')
  body
    block body
